*{
	padding: 0;
}

.loader {
	border: 3px solid rgb(0, 0, 0); ; 
	border-top: 9px solid rgb(0, 0, 0); 
	border-radius: 50%;
	width: 31px;
	height: 31px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

.center{
	border: 1px solid black;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
}